.App {
  text-align: left;
}

.App-header {
  background-color: #181c24;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-name {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}