/* Styling for full screen button and full screen mode */

.Toggle1 {
  position: absolute;
  right: -15px;
  top: 5px;
  color: #000;
  background-color: transparent;
  border: 2px;
  padding: 5px 5px 2px 5px;
  max-width: 100%;
  border-color: #000000;
  opacity: 0.6;
  transition: 0.3s;
  outline: none;
}

.Toggle1-full {
  z-index: 1;
}

.Toggle1:hover {
  opacity: 1;
  border-radius: 5px;
}

.Toggle1:active {
  opacity: .4;
}

.Toggle2 {
  position: absolute;
  right: -15px;
  top: 5px;
  color: #000;
  background-color: transparent;
  border: none;
  padding: 5px 5px 2px 5px;
  max-width: 100%;
  opacity: 0.7;
  transition: 0.3s;
  outline: none;
}

.Toggle2-full {
  z-index: 1;
}

.Toggle2:hover {
  opacity: 1;
  border-radius: 5px;
}

.Toggle2:active {
  opacity: .4;
}

.Notes-full {
  position: relative;
  min-height: 85vh;
  max-height: 85vh;
  min-width: 80vw;
  max-width: 80vw;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  resize: none;
  outline: 0;
  z-index: 1;
}

.Control-full {
  position: absolute;
  margin: 0% 0% 0% 10%;
  min-height: 85vh;
  max-height: 85vh;
  min-width: 80vw;
  max-width: 80vw;
  border: 0;
  border-radius: 10px;
  z-index: 1;
}

/* need for proper coloring when in full screen */
.Display-color {
  background-color: #484c54;
  color: #e6dfdf;
}

.FS-button:active {
  transition: all 4s ease;
}