.Notepad {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  padding-top: 20px;
}

.Control-edit {
  position: absolute;
  margin: 0% 0% 0% 10%;
  min-height: 85vh;
  max-height: 85vh;
  min-width: 35vw;
  max-width: 35vw;
  border: 0;
  border-radius: 10px;
  transition: max-width .6s ease;
}

.Notes-edit {
  position: relative;
  min-height: 85vh;
  max-height: 85vh;
  min-width: 35vw;
  max-width: 35vw;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  resize: none;
  outline: 0;
  transition: max-width .6s ease;
}

.Control-display {
  position: relative;
  margin: 0% 10% 0% 0%;
  min-height: 85vh;
  max-height: 85vh;
  min-width: 35vw;
  max-width: 35vw;
  float: right;
  border: 0;
  border-radius: 10px;
  transition: max-width .6s ease;
}

.Notes-display {
  background-color: #484c54;
  color: #e6dfdf;
  min-height: 85vh;
  max-height: 85vh;
  min-width: 35vw;
  max-width: 35vw;
  padding: 10px;
  resize: none;
  border: 0;
  border-radius: 10px;
  outline: 0;
  transition: max-width .6s ease;
}